* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0 !important;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
}

.menu {
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  overflow: scroll;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
}

.menu ol {
  list-style: auto;
  margin-left: 20px;
}

.menu ol li {
  cursor: pointer;
}
.menu ol li:hover {
  background-color: #e0e0e0;
}

.container {
  padding: 20px;
}

.active {
  background-color: #e0e0e0;
}
